body {
    background-color: #b89e81;
    color: #221811;
    font-family: Verdana, Arial,sans-serif;
}
header {
    background-color: #d2b48c;
    text-align: center;
}
h1 {
    line-height: 200%;
}
nav {
    text-align: center;
    font-weight: bold;
}
footer {
    background-color: #d2b48c;
    font-size: small;
    font-style: italic;
    text-align: center;
}
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}