#red {
    background-color: red;
    grid-area: red;
}

#orange {
    background-color: orange;
    grid-area: orange;
}

#yellow {
    background-color: yellow;
    grid-area: yellow;
}

#green {
    background-color: green;
    grid-area: green;
}

#cyan {
    background-color: cyan;
    grid-area: cyan;
}

#blue {
    background-color: blue;
    grid-area: blue;
}

#violet {
    background-color: violet;
    grid-area: violet;
}

#purple {
    background-color: purple;
    grid-area: purple;
}

#black {
    background-color: black;
    grid-row-start: 1;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 9;
}

#white {
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 8;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
    grid-template-rows: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
    grid-template-areas:
        "red . . . . . . ."
        "orange orange . . . . . ."
        "yellow yellow yellow . . . . ."
        "green green green green . . . ."
        "cyan cyan cyan cyan cyan . . ."
        "blue blue blue blue blue blue . ."
        "violet violet violet violet violet violet violet ."
        "purple purple purple purple purple purple purple purple"
        "black black black black black black black black"
        ". white white white white white white .";
}
