body {
    background-color: #b89e81;
    background-image: url(image/background.gif);
    color: #221811;
    font-family: Verdana, Arial,sans-serif;
}
header {
    background-color: #d2b48c;
    height: 150px;
    background-image: url(image/javajamlogo.jpg);
    background-repeat: no-repeat;
}
h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}
nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
}
footer {
    background-color: #d2b48c;
    font-size: small;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: solid 2px #221811;
}
#wrapper {
    background-color: #FEF6C2;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px;
}
nav a {
    text-decoration: none;
}
h4 {
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
}
main {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block;
}
.details {
    padding-left: 20%;
    padding-right: 20%;
}
img {
    padding-left: 10px;
    padding-right: 10px;
}