* {
    box-sizing: border-box;
}

body {
    background-color: #b89e81;
    background-image: url(image/background.gif);
    color: #221811;
    font-family: Verdana, Arial,sans-serif;
}

header {
    background-color: #d2b48c;
    height: 150px;
    background-image: url(image/javajamlogo.jpg);
    background-repeat: no-repeat;
}

h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left;
    width: 200px;
}

nav a:link {
    color: #FEF6C2;
}

nav a:visited {
    color: #D2B48C;
}

nav a:hover {
    color: #CC9933;
}

nav ul {
    list-style: none;
    padding-left: 0px;
}

nav a {
    text-decoration: none;
}

footer {
    background-color: #d2b48c;
    font-size: small;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: solid 2px #221811;
}

#wrapper {
    background-color: #231814;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px;
}

h4 {
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0em;
    text-transform: uppercase;
    border-bottom: solid 2px #221811;
    clear: left;
}

main {
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 2em;
    padding-top: 0em;
    margin-left: 200px;
    background-color: #FEF6C2;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#heroroad {
    background-image: url(image/heroroad.jpg);
    background-size: 100% 100%;
    height: 250px;
}

#heromugs {
    background-image: url(image/heromugs.jpg);
    background-size: 100% 100%;
    height: 250px;
}

#heroguitar {
    background-image: url(image/heroguitar.jpg);
    background-size: 100% 100%;
    height: 250px;
}

main h2, main h3, main h4, main p, main div, main ul, main dl {
    padding-left: 3em;
    padding-right: 2em;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

header, nav, main, footer {
    display: block;
}
